// COLORS
$color-orange: #fd7e14;
$color-info: #17a2b8;
$color-white: #fff;
$color-light: #f8f9fa;
$color-dark: #343a40;
$color-muted: #6c757d;
$color-link-text: #495057;
$color-shadow-1: rgba(0, 0, 0, 0.05);
$color-shadow-2: rgba(0, 0, 0, 0.3);
$color-shadow-3: rgba(0, 0, 0, 0.5);
$color-shadow-4: rgba(0, 0, 0, 0.7);
$color-shadow-5: rgba(0, 0, 0, 0.9);
