form.form-signin {
	max-width: 350px;
	background-color: #fff;
	border: 1px solid #d8dee2;
	border-radius: 5px;

	label {
		font-size: 14px;
	}

	.forgot-password {
		font-size: 14px;
		margin-bottom: 0.5rem;
	}

	.display-xs {
		display: none;
	}

	.form-control {
		font-size: 14px;
		border: 1px solid #e1e4e8;
		border-radius: 6px;

		&:focus {
			border-color: #0366d6;
			box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
		}
	}
}

.card {
	max-width: 350px;
}

ul.nav {
	.nav-item {
		&:hover {
			color: #000;
		}
	}
}

@media only screen and (max-width: 299px) {
	form.form-signin {
		.clearfix {
			a:link {
				display: none;
			}
		}

		.display-xs {
			display: block !important;
		}
	}

	.card {
		.link-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

@media only screen and (max-width: 299px) {
	h1.h3 {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 399px) {
	ul.nav {
		flex-direction: column;

		.nav-item {
			margin: 5px auto;
		}
	}
}
